<h2 mat-dialog-title>prime Crop</h2>
<mat-dialog-content class="mat-typography">
    <image-cropper
        [imageFile]="data.file"
        [maintainAspectRatio]="false"
        format="png"
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
        [autoCrop]="false"
    ></image-cropper>
    <canvas hidden #canvas></canvas>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="cropImage()" cdkFocusInitial>Crop</button>
</mat-dialog-actions>